.main{
    padding-right: 10px;
    width: 85%;
}

.main-div{
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content:space-between;
    margin-top: 10px;
}

.event-health{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
}

.right-div{
    margin-left: 10px;
display: flex;
flex-direction: column;
gap: 20px;
}

@media (max-width:1150px) {
    .event-health{
        flex-direction: column;
    }
}
@media (max-width:850px) {
    .main{
        width: 50%;
    }
}