.psi-chart{
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding: 20px;
}
.psi-header{
    display: flex;
    justify-content: space-between;

    gap: 10px;
}

.psi-chart-img{
    width: 100%;
}

.psi-chart-img img {
    object-fit: cover;
}

@media (max-width:1000px) {
    .psi-chart{
        width: 70%;
    }
    .psi-chart-img img{
        width: 70%;
    }
}